.DS_Store


TOFU/commands/
TOFU/outputs/
TOFU/results/
TOFU/paper_models/
TOFU/retrained_models/
TOFU/__pycache__/
TOFU/locuslab/
TOFU/stop*
TOFU/.cache/
TOFU/wmdp_models/
TOFU/data/bio_remove_dataset.jsonl
TOFU/try/
TOFU/gen_commands_*
TOFU/json/
TOFU/aggregated*
TOFU/run.py
TOFU/kronfluence_factors/

MUSE/kronfluence_factors/
MUSE/baselines/outputs/
MUSE/data/

WMDP/files

plot/
plot/figures/
*.cache
*__pycache__

plot/
plot/figures/
# *.sh.env
.env

.env
